.friend-reqs {
  display: grid;
  gap: 1rem;
  position: absolute;
  left: 1.5rem;
  top: 29rem;
  bottom: 0;

  padding-bottom: 5rem;

  overflow-y: scroll;
  scrollbar-width: none;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  .title {
    color: var(--clr-gray);
    letter-spacing: 0.1rem;

    align-self: start;
  }

  @include max-width(desktop) {
    & {
      display: none;
    }
  }
}

.req {
  height: fit-content;
  width: 20rem;
  background: var(--clr-white);
  padding: 1.5rem 1.5rem;
  border-radius: 0.25rem;

  &.placeholder {
    background-color: transparent;

    // text-align: center;
    padding-left: 0;

    color: var(--clr-gray-light);
    font-size: var(--fs-small);
  }

  header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;

    p {
      color: var(--clr-gray);
    }

    .name {
      font-weight: var(--fw-semi-bold);
      margin-right: 0.25rem;
    }

    .pfp {
      width: 4rem;
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: var(--clr-gray);
      overflow: hidden;

      // img {
      //   width: 100%;
      //   aspect-ratio: 1;
      //   object-position: center;
      //   object-fit: cover;
      // }
    }
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  // Reponsive
  @include max-width(desktop) {
  }
}
