.page__feeds {
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding-top: 3rem;

  display: grid;
  grid-template-columns: 22rem 1fr minmax(22.5rem, 0.95fr);
  gap: 2rem;

  place-items: center;
  @include stay-center;

  .your-profile__title {
    color: var(--clr-gray);
    font-size: var(--fs-small);
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }

  .left {
    align-self: start;
    // padding-top: 30rem;
  }

  .right {
    align-self: start;
  }
  .middle {
    // Search Bar
    .search-bar {
      position: relative;
      padding-inline: 0.2rem;
      margin-bottom: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .pfp-button {
        img {
          width: 4rem;
          aspect-ratio: 1;
          border-radius: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        display: none;
      }

      &__input {
        position: relative;
        width: 100%;
      }

      // Search input
      input {
        width: 100%;
        padding: 1.25rem 1.5rem;
        padding-right: 3.5rem;
        border: none;

        border-radius: 0.5rem;
        font-size: var(--fs-small);
      }

      // Search icon
      i {
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);

        font-size: var(--fs-medium);
        color: var(--clr-gray);
      }
    }
  }

  @include max-width(desktop) {
    grid-template-columns: 7rem 1fr minmax(22.5rem, 25rem);
  }

  @include max-width(small-desktop) {
    .your-profile__title {
      display: none;
    }
    grid-template-columns: 0fr 1fr 0fr;
    width: 60vw;
    margin-inline: auto;

    .pfp-button {
      display: block !important;
    }
  }

  @include max-width(tablet) {
    & {
      grid-template-columns: 1fr;
      width: 100vw;
      padding-inline: 5rem;

      margin-top: 0;
    }

    .middle {
      width: 100%;
    }
  }

  @include max-width(tablet) {
    padding-inline: 2rem;
  }
}
