.page__feeds {
  // margin: 0rem 1.5rem 1.5rem 1.5rem;
  padding-top: 1.5rem;

  display: grid;
  // grid-template-columns: 22rem 1fr minmax(22.5rem, 0.95fr);
  grid-template-columns: 22rem 1fr minmax(22.5rem, 30rem);
  gap: 2rem;

  place-items: center;
  // @include stay-center;

  .your-profile__title {
    color: var(--clr-gray);
    font-size: var(--fs-small);
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }

  .left {
    align-self: start;
    // padding-top: 30rem;
  }

  .right {
    align-self: start;
  }
  .middle {
    max-width: 1000px;
    // Search Bar
    .search-bar {
      position: relative;
      padding-inline: 0.2rem;
      margin-bottom: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .pfp-button {
        img {
          width: 4rem;
          aspect-ratio: 1;
          border-radius: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        display: none;
      }

      &__input {
        position: relative;
        width: 100%;
      }

      // Search input
      input {
        width: 100%;
        padding: 1.25rem 1.5rem;
        padding-right: 3.5rem;
        border: none;

        border-radius: 0.5rem;
        font-size: var(--fs-small);
      }

      // Search icon
      i {
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);

        font-size: var(--fs-medium);
        color: var(--clr-gray);
      }
    }
  }

  .feeds-searchbar-wrapper {
    position: relative;

    .search-suggestion {
      background-color: var(--clr-white);
      position: absolute;
      top: 5rem;
      border-radius: 0.25rem;
      padding-block: 1rem;
      max-height: 20rem;
      overflow-y: scroll;
      left: 0;
      right: 0;
      z-index: 2;

      display: grid;
      &__item {
        padding-inline: 1rem;
        border-bottom: 1px solid var(--clr-gray-light);
        cursor: pointer;
        .user-header {
          padding-block: 0.75rem;
          justify-content: start;
        }

        &:hover {
          background-color: var(--clr-chatbubble);
        }
      }
    }
  }

  @include max-width(desktop) {
    grid-template-columns: 7rem 1fr minmax(22.5rem, 25rem);
  }

  @include max-width(small-desktop) {
    .your-profile__title {
      display: none;
    }
    grid-template-columns: 0fr 1fr 0fr;
    width: 60vw;
    margin-inline: auto;

    .pfp-button {
      display: block !important;
    }
  }

  @include max-width(tablet) {
    & {
      grid-template-columns: 1fr;
      width: 100vw;
      padding-inline: 5rem;

      margin-top: 0;
    }

    .middle {
      width: 100%;
    }
  }

  @include max-width(tablet) {
    padding-inline: 2rem;
  }
}

.feeds-loader {
  height: 1rem;

  div {
    width: 0.5rem;
    height: 0.5rem;
    top: 0;
  }
}
