@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
  /* ==== COLORS ==== */
  --clr-purple-light: hsl(241, 100%, 77%);
  --clr-purple: hsl(241, 100%, 66%);
  --clr-red: hsl(0, 94%, 67%);
  --clr-gray: hsl(242, 15%, 60%);
  --clr-gray-dark: hsl(241, 24%, 37%);
  --clr-gray-light: hsl(240, 14%, 85%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 12%);

  /* ==== FONT SIZE === */
  --fs-large: 2rem;
  --fs-medium: 1.5rem;
  --fs-small: 1rem;
  --fs-tiny: 0.875rem;

  /* ==== FONT WEIGHT === */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* === ANIMATIONS === */
  --animation-primary: 0.5s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-nav: 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  --animation-smooth: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
