@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin stay-center {
  margin-inline: auto;
  max-width: 1900px;
}

@mixin max-width($dimension) {
  @if $dimension == desktop {
    @media (max-width: 1600px) {
      @content;
    }
  }

  @if $dimension == tablet {
    @media (max-width: 724px) {
      @content;
    }
  }

  @if $dimension == phone {
    @media (max-width: 420px) {
      @content;
    }
  }
}
