@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
  /* ==== COLORS ==== */
  --clr-purple-light: hsl(241, 100%, 77%);
  --clr-purple: hsl(241, 100%, 66%);
  --clr-red: hsl(0, 94%, 67%);
  --clr-red-light: hsl(0, 94%, 75%);
  --clr-gray: hsl(242, 15%, 60%);
  --clr-gray-dark: hsl(241, 24%, 37%);
  --clr-gray-light: hsl(240, 14%, 85%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 12%);

  --clr-background: hsl(0, 0%, 97%);

  /* ==== FONT SIZE === */
  --fs-very-large: 2.5rem;
  --fs-semi-large: 2.25rem;
  --fs-large: 2rem;
  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-tiny: 0.875rem;

  @include max-width(small-desktop) {
    --fs-very-large: 2.25rem;
    --fs-semi-large: 2.025rem;
    --fs-large: 1.8rem;
    --fs-medium: 1.35rem;
    --fs-small: 0.9rem;
    --fs-tiny: 0.7875rem;
  }

  /* ==== FONT WEIGHT === */
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* === ANIMATIONS === */
  --animation-primary: 0.5s cubic-bezier(0.3, 1, 0.3, 1);
  --animation-nav: 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  --animation-smooth: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: var(--fs-small);
  color: var(--clr-black);

  scrollbar-width: thin;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  background: var(--clr-background);
  height: 100vh;
}

// Chrome Scrollbars

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-gray);
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  // @see https://github.com/nolimits4web/swiper/issues/3599
  min-height: 0;
  min-width: 0;
}
